* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: auto;
    background-color:#f5f5f5;
    font-family: Raleway, sans-serif;
    width: 1100px;
    overflow-x: auto;
}

h1,
h2,
h3,
p,
ul,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}

