.header {
  max-width: 1100px;
  max-height: 293px;
  margin: auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 20px;
}

.block-nav {
  padding-right: 10px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style-type: circle;
  font-size: 18px;
  text-underline-offset: 20%;
}

.tab-left {
  list-style-type: none;
  font-size: 17px;
  padding: 0px 2px 6px 31px;
  letter-spacing: 1px;
}

.chapter{
 text-decoration: none;
}

.tab-center {
  padding-right: 5px;
  padding-bottom: 5px;
}

.tab-right{
  padding-left: 3px;
}

.color-line {
  color: #000;
}

.logo {
  width: 148px;
  height: 105px;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 1.35;
  font-size: 18px;
  white-space: nowrap;
}

.block-address {
  display: flex;
  justify-self: end;
  padding-right: 67px;
  padding-bottom: 4px;
  text-underline-offset: 20%;
}

.section-cover {
  margin-bottom: -45px;
}

.block-cover {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 757px;
  max-width: 1100px;
  margin: auto;
}

.cover {
  position: absolute;
  z-index: 2;
  margin: auto;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
  filter: brightness(0.5);
}

.block-heading {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 1080px;
  padding: 0px 10px;
}

.title-cover {
  display: flex;
  flex-direction: row;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  text-transform: uppercase;
}

.word-left {
  display: block;
  letter-spacing: 30px;
  padding: 165px 0px 0px 40px;
}

.word-center {
  display: block;
  position: relative;
  z-index: 2;
  letter-spacing: 30px;
  padding: 300px 14px;
}

.word-right {
  display: block;
  position: absolute;
  z-index: 2;
  letter-spacing: 30px;
  padding: 436px 653px;
}

.description {
  display: flex;
  position: relative;
  z-index: 2;
  bottom: 100px;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1100px;
  left: 50%;
  align-items: center;
  padding: 0px 50px;
  justify-content: space-between;
}

.line-cover {
  color: #fff;
  font-size: 22px;
  word-spacing: 19px;
  text-transform: uppercase;
  transform: scaleX(1.01);
}

.button {
  padding: 11px 34px ;
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  font-size: 22px;
}

.content-section {
  background-color: #fff;
  max-width: 1100px;
  height: 897px;
  margin: auto;
}

.line-lots {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
  padding: 148px 920px 0px 70px;
}

.lots-right {
  background: url("/images/lot1.jpg") no-repeat;
  width: 334px;
  height: 596px;
}

.lots-center {
  background: url("/images/lot2.jpg") no-repeat;
  width: 334px;
  height: 596px;
}

.lots-left {
  background: url("/images/lot3.jpg") no-repeat;
  width: 334px;
  height: 596px;
}

.lots {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  padding: 28px 5px 30px 5px;
}

.card {
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

.card::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Управляй прозрачностью здесь */
  z-index: 1;
}

.card-title,
.card-text {
  position: relative;
  z-index: 2;
  color: #fff;
}

.card-title {
  padding: 48px 40px 0px;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-text {
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.text-left{
 padding: 245px 40px 50px;
}

.text-center{
padding: 2px 40px 50px;
line-height: 1.21;
}

.text-right{
padding: 100px 60px 50px 42px;
line-height: 1.19;
}
 
.card-lots {
  display: flex;
  flex-direction: column;
 gap: 30px;
}

.text-string {
  padding: 0px 71px 150px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 17%;
  color: #000;
}

.container-text {
  display: grid;
  grid-template-columns: 383px auto;
  grid-template-rows: 540px;
}

.block-circle {
  padding: 155px  70px;
}

.circle {
  display: grid;
  justify-content: center;
  justify-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  padding: 64px 20px;
}

.logo2 {
  width: 148px;
  height: 114px;
}

.line-stock {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  padding: 257px 0px 100px;
}

.text-stock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  padding-right: 28px;
  line-height: 1.21;
}

.field-footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  max-width: 1100px;
  min-height: 180px;
  background-color: #fff;
  margin: auto;
}

.block-address2 {
  padding: 0px 50px 82px 51px;
  text-underline-offset: 20%;
}

.block-text {
  padding: 0px 130px 82px 130px;
}

.nav2 {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  padding-left: 10px;
}

.tab-chapter {
  text-decoration: none;
  padding-right: 10px;
  padding-top: 10px;
}

.tab-lots {
  padding-right: 10px;
   line-height: 1.21;
    text-underline-offset: 20%;
}

.tab-auction {
  padding-right: 10px;
  line-height: 1.11;
   text-underline-offset: 20%;
}

.platforms {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style-type: none;
  width: 250px;
}

.block-platforms {
  padding: 0px 49px 50px;
}
