.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  max-width: 1100px;
  max-height: 293px;
  background-color: #fff; 
}

.header__menu{
  padding: 133px 36px 138px 50px;
  border-left: 3.5px solid transparent;
}

.header__links-list{
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style-type: circle;
  font-size: 18px;
  text-underline-offset: 20%;
}

 .header__links-list-item{
  
} 

.header__links-list-item_no-bullit{
  list-style-type: none;
}

.header__link{
  color: #000;
}

.header__link_active{
  text-decoration: none;
}

.header__logo{
padding: 93px 0px 100px 4px;
}

.header__logo-image{
 display: block;
 width: 145px;
 height: auto;
}

.address{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: end;
  font-style: normal;
  line-height: 1.35;
  font-size: 18px;
  text-underline-offset: 20%;
  max-width: 240px
}

.header__address{
 padding: 95px 50px 100px 184px;
}

.cover{
   position: relative;
  min-height: 164px;
  background: url("/images/cover-lotus.jpg") no-repeat;
  background-size: cover; 
  z-index: 1;

}

.overlay {
 position:absolute;
  z-index: 2;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);

}

.cover__title { 
  position: relative;
  text-transform:uppercase;
   z-index: 3;
  color: #fff;
  font-size: 100px;

}

.aligned-text {
  display: block;
}

.aligned-text_left{
 text-align: left;
 letter-spacing: 30px;
 padding: 165px 764px 10px 50px;
}

.aligned-text_center {
 text-align: center;
 letter-spacing: 30px;
 padding: 8px 381px 9px;
}

.aligned-text_right{
 text-align: right;
 letter-spacing: 30px;
 padding: 8px 50px 55px 663px;
}

.letter-spacing-extended{

}

.no-letter-spacing{

}

.cover__description{
  display: flex;
  flex-direction: row;
  align-items: center;
   justify-content: space-between;
   position: relative;
   z-index: 3;
   padding: 50px 51px;
}

.cover__description-text{
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 19px;
  color: #fff;
}

.bet-button{
  text-transform: uppercase;
  color: #fff;
  background: transparent;
  padding: 11px 34px 12px 32px;
  border: 1px solid #fff;
  font-size: 22px;
}

.lots{
min-height: 169px;
background-color: #fff;
}

.lots__heading{
font-size: 40px;
text-transform: uppercase;
padding: 180px 915px 27px 64px;
}

.lots__card-list{
display: flex;
flex-direction: row;
justify-self: center;
list-style-type: none;
gap: 25px;
flex-wrap: wrap;
max-width: 100%;
padding-bottom: 30px;
}

.lots__card-list-item{
width: 334px;
min-height: 150px;
}

.card-link{
  height: 100%;
  text-decoration: none;
}

.card{
display: flex;
flex-direction: column; 
justify-content: space-between; 
height: 100%;
background-size: cover;
background-position: center;
position: relative;
z-index: 1;
}

.card_type_film{
background: url("/images/card-lot1.jpg") no-repeat;
}

.card_type_book{
background: url("/images/card-lot2.jpg") no-repeat;
}

.card_type_picture{
background: url("/images/card-lot3.jpg") no-repeat;
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
  color: #fff;
}
.card__title{
font-size: 22px;
text-transform: uppercase;
text-decoration: underline;
padding: 48px 40px 0px;
}

.card__text{
  font-size: 20px;
  padding: 30px 40px 48px ;
}

.lots__look-more-link{
font-size: 20px;
text-underline-offset: 20%;
padding: 0px 844px 0px 64px;
}

.about{
display: grid;
grid-template-columns: 334px 1fr;
gap: 40px;
min-height: 160px;
background-color: #fff;
}

.about__left{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 155px 72px 500px 71px;
}

.about__right{
display: flex;
flex-direction: column;
}

.about__logo{
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  padding: 64px 45px 62px 46px;
}

.about__logo-image{
width: 148px;
height: 114px;
object-fit: contain;
}

.about__title{
font-size: 40px;
text-transform: uppercase;
padding: 256px 426px 100px 0px;

}

.about__text{
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  padding: 0px 24px 180px 0px;
}

.footer{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
 max-height: 180px;
 background-color: #fff;
}

.footer__menu{

}

.footer__menu-list{

}

.footer__menu-list-item{

}

.footer__menu-link{

}

.footer__menu-link_active{

}

.footer__social-list{

}

.footer__social-list-item{

}

.footer__social-link{

}

.footer__social-icon{
 width: 48px ;
 height: 48px;
}
/*


.field-footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  max-width: 1100px;
  min-height: 180px;
  background-color: #fff;
  margin: auto;
}

.block-address2 {
  padding: 0px 50px 82px 51px;
  text-underline-offset: 20%;
}

.block-text {
  padding: 0px 130px 82px 130px;
}

.nav2 {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  font-size: 18px;
  text-align: center;
  white-space: nowrap;
  padding-left: 10px;
}

.tab-chapter {
  text-decoration: none;
  padding-right: 10px;
  padding-top: 10px;
}

.tab-lots {
  padding-right: 10px;
   line-height: 1.21;
    text-underline-offset: 20%;
}

.tab-auction {
  padding-right: 10px;
  line-height: 1.11;
   text-underline-offset: 20%;
}

.platforms {
  display: flex;
  flex-direction: row;
  gap: 48px;
  list-style-type: none;
  width: 250px;
}

.block-platforms {
  padding: 0px 49px 50px;
}   */
